/* Fonte Global */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #121214; /* Fundo bem escuro */
    color: #e1e1e6;
}

/* Cores Customizadas */
.bg-dark-custom {
    background-color: #121214;
    border-bottom: 1px solid #29292e;
}

.bg-dark-card {
    background-color: #202024;
}

.bg-dark-lighter {
    background-color: #121214 !important;
}

.text-purple {
    color: #8257e6 !important;
}

/* Botão Roxo (Destaque) */
.btn-purple {
    background-color: #8257e6;
    color: white;
    font-weight: 600;
    transition: 0.3s;
    border: none;
}

.btn-purple:hover {
    background-color: #9466ff;
    color: white;
    transform: translateY(-2px);
    box-shadow: 0 4px 15px rgba(130, 87, 230, 0.4);
}

/* Cards dos Jogos */
.game-card {
    background-color: #202024;
    border: 1px solid #29292e;
    border-radius: 12px;
    transition: transform 0.2s, border-color 0.2s;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.game-card:hover {
    transform: translateY(-5px);
    border-color: #8257e6;
}

.game-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 100%;
    background-color: #8257e6;
}

.status-badge {
    font-size: 0.8rem;
    padding: 4px 10px;
    border-radius: 20px;
    background-color: rgba(130, 87, 230, 0.1);
    color: #8257e6;
    font-weight: 600;
    border: 1px solid rgba(130, 87, 230, 0.2);
}